<div class="row">

      <div class="col s12 m4 13">
        <ul class="collection with-header">
	        <li class="collection-header"><h4>Categories</h4></li>
          <% if current_user == nil %>
          <% elsif current_user.role.admin? %>
          <li class="collection-item">Hello</li>
          <% end %> 
          <% @categories.each do |cat| %>
            <a href="categories/<%= cat.id %>" class="collection-item"><%= cat.title %></a>
          <% end %>
      	</ul>
      </div>

   <div class="col s12 m8 19">
    <ul class="collection">
      <% @articles.each do |article| %>
    	<li class="collection-item avatar">
    		<img src="" alt="" class="circle">
    		<span class="title"></span>
    		<p><%= link_to article.title, "articles/#{article.id}" %></p>
    </li>
    <% end %>
  </ul>
 </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
<a href="/articles/new" class="btn-floating btn-large waves-effect waves-light red darken-4"><i class="material-icons">add</i></a>
</div>
