<div class="row">
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-3">
      <h2><%= @article.title %></h2>
      <%= @article.revisions.last.body.html_safe %>

    </div>

  </div>
</div>
<% @article.categories.each do |cat| %>
<a href="/categories/<%= cat.id %>">
  <div class="chip z-depth-3">
    <%= cat.title %>
  </div>
</a>
<% end %>
