<% if active_object && active_object.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% active_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
