/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *=
 *= require_tree .
 *= require_self
 */
 @import "materialize";

/* BODY */
 .full {
   background: url(background.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

/* NAV */
.logo-main {
  font-family: 'Frijole', cursive;
}

#turntable {
  width: 4.5%;
  position: absolute;
  top: 10px;
  left: 815px;
}

#bars {
  width: 8%;
  position: absolute;
  top: 5px;
  left: 370px;
}


/* CK  EDITOR */
 #cke_1_bottom {
   background: #B71C1C;
 }

 #cke_body {
   border: none;
   box-shadow: none;
 }

 /* ERRORS */
 #error_explanation {
   color: red;
 }
