<div class="row">
  <div class="col s10 offset-s1">
    <div class="card">
      <div class="card-content">
        <h2 class="center-align">Create New Category</h2>
        <%= form_for @category do |f| %>
  		<div class="row center-align">
  			<%= f.text_field :title %>
  		</div>
  		<div class="row center-align" style="margin-top:10px">
  			<%= f.submit "Create" %>
  		</div>
		<% end %>
      </div>
    </div>
  </div>
</div>


