<nav>
  <div class="nav-wrapper red darken-4">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
   <a href="/" class="brand-logo center">Wiki Wiki Wiki</a>
   <form>
     <div class="input-field red darken-4 right" style="75%">
       <input id="search" type="search" required>
       <label for="search"><i class="small material-icons">search</i></label>
       <i class="material-icons">close</i>
     </div>
   </form>
 </div>
 </div>
</nav>
