
<nav>
  <div class="nav-wrapper red darken-4">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <% if current_user %>
      <li><%= link_to current_user.username, "users/#{current_user.id}"%></li>
      <li><%= link_to "Log Out", login_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "Log In", login_path %></li>
      <li><%= link_to "Register", users_new_path %></li>
      <% end %>
    </ul>
   <a href="/" class="brand-logo center logo-main">Wiki Wiki Wiki</a>
   <form>
     <div class="input-field red darken-4 right" style="75%">
       <input id="search" type="search" required>
       <label for="search"><i class="small material-icons">search</i></label>
       <i class="material-icons">close</i>
     </div>
   </form>
 </div>
 </div>
</nav>
<img id="turntable" src="/turntab1.png" />
<img id="bars" src="/bars.png" />
